html {
	margin: 0;
	padding: 0;
}

body {
	position: relative; /* for sticky footer */
	padding-bottom: 6em; /* space between footer and page content */
	font-family: 'Lora', serif;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
	margin: 1.414em 0 0.5em;
	font-family: 'Lora', serif;
  	font-weight: inherit;
  	line-height: 1.2;
}

/* Kaitlyn Carcia header */
h1 {
	margin-top: 0;
	font-size: 4em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.2em;
}

a {
	color: #E79085; /* pink */
}

a:hover {
	text-decoration: none;
}

/* Source: http://stackoverflow.com/questions/6382023/changing-the-color-of-a-hr-element */
hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #735851; /* brown */
    margin: 1em 0;
    padding: 0; 
}

input, textarea {
	display: block;
    width: 100%;
    background-color: #FFF;
    height: 30px;
    padding: 6px 12px;
	font-family: 'Lora', serif;
    font-size: 1em;
    line-height: 1.2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
	margin-bottom: 0.8em; /* margin between fields */
}

textarea {
	resize: none; /* remove draggable bottom left hand corner */
	height: 150px;
}

/* pink, instead of blue, outline */
input:focus, textarea:focus {
    outline: 0;
    border-radius: 4px;
    border: 2px solid #E79085; /* pink */
}

footer {
	background-color: #F7EFD6; /* yellow */
	position: absolute; /* for sticky-ness */
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0px;
}

label, li, p {
	font-size: 1em;
	line-height: 1.2;
	margin: 0.8em 0 0;
}

li {
	margin-left: 50px;
	list-style-type: circle;
}

/* ----------------------------------------------------------------------------------- */
/* Custom styles */

/* active link in navigation
	- font color must be pink to override link hover color */
.active {
	color: #E79085 !important; /* pink */
	border-bottom: 5px solid #E79085; /* pink */
}

/* date for blog post */
.date {
    font-size: 0.8em;
    text-transform: uppercase;
}

/* introduction (I am Kaitlyn... ) w/ background image */
.container:first-child {
	background-image: url('../images/background.png');
	color: #F7EFD6; /* yellow */
}

/* content container */
.content {
	width: 50%;
	position: relative;
	margin: 0 auto;
	color: #735851; /* brown */
}

/* introduction (I am Kaitlyn... ) */
.introduction {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0px 150px 0px;
}

/* introduction (I am Kaitlyn... ) name text*/
.introduction h1 {
	font-family: 'Tangerine', cursive;
	font-size: 6em;
	line-height: 1.0;
	margin-bottom: 10px;
}

/* fontawesome icons */
.introduction i {
	color: #F7EFD6;
	font-size: 1.5em;
}

/* navigation bar */
.navbar {
	background-color: #F7EFD6; /* yellow */
}

/* nav item */
.navbar li {
	display: inline-block;
	width: 32%;
	padding: 15px 0px;
	text-align: center;
	margin: 0;
}

/* nav link */
.navbar li a {
	color: #E79085; /* pink */
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
}

/* hover on nav link */
.navbar li a:hover {
	color: #735851; /* brown */
}

/* submit button on contact form */
.submit {
	margin-top: 0.8em;
	padding: 10px;
	background-color: #E79085; /* pink */
	color: #F7EFD6; /* yellow */
	font-family: 'Lora', serif;
	font-size: 1em;
	border-radius: 4px;
	border: none;
}

