html {
	font-family: PT Serif;
	margin: 0;
	padding: 0;
/* 
	-webkit-text-size-adjust: 100%;
 */
}

body {
	margin: 0;
	padding: 0;
}

.page {
	max-width: 720px;
	padding: 0 24px;
	margin: 0 auto;
}

a {
	color: black;
	
	text-decoration: none;
}

.nav-button {
	display: inline;
	padding: 7%;
}

nav {
background: #EBEBEB;	padding: 15px 0 15px 0;
}

a:hover { 
    border-bottom: 10px solid #FFE9AA;
}

@media screen and (max-width: 635px) {
	.columns {
	width: auto !important;
	float: none;
	margin: 1.25em 0 0!important;
	}
}

input, textarea {
	width: 100%;
}