@import url('https://fonts.googleapis.com/css?family=Alegreya|Reenie+Beanie');

$cursive-font: 'Reenie Beanie', cursive;
$serif-font: 'Alegreya', serif;

$margin: 1em;
$padding: 1em;
$border-radius: 4px;

$red: #ff3333;
$light-red: #ff8482;
$light-grey: #e2e2e2;
$dark-grey: #9e9e9e;
$white: #fff;

$error-red: #de281b;
$success-green: #5bab5e;

html, body {
	height: 100%;
	margin: 0;
}

* {
	font-family: $serif-font;
}

h1 {
	font-size: 5em;
	line-height: 1;
}

h2 {
	font-size: 1.5em;
	line-height: 1.0125;
}

h3 {
	font-size: 1.25em;
	line-height: 1.25;
}

h4 {
	font-size: 1em;
	line-height: 1.375;
}

p {
	font-size: 1.25em;
	line-height: 1.25em;
	margin-bottom: $margin;
}

small {
	font-size: 0.75em;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $white;
}

section {
	margin-bottom: 1.5em;
}

input {
	height: 30px;
}

textarea {
	height: 150px;
	resize: none; /* remove draggable bottom left hand corner */
}

input, textarea {
	width: 89%;
	display: inline-block;
	background-color: $white;
	padding: $padding/2;
	font-size: 1.15em;
	line-height: 1.075;
	border-radius: $border-radius;
	border: none;
	margin-top: 0.25em;
}

/* custom input and textarea focus */
input:focus, textarea:focus {
	outline: 0;
	border-radius: $border-radius;
	border: 2px solid $dark-grey;
}

button {
	padding: $padding;
	border-radius: $border-radius;
	border: 5px solid $light-red;
	font-size: 1em;
	background-color: $red;
	color: $white;
}

button:focus {
	outline: 0;
}

button:hover {
	background-color: $light-red;
	cursor: pointer;
}

nav {
	width: 100%;
	position: fixed;
	background-color: $light-red;
	z-index: 2;

	ul {
		display: inline-block;
    	padding: 0;
    	margin-bottom: -3px;
    	overflow: hidden;
	}

	ul.navbar {
    	margin-left: 15%;

    	li {
	    	a:hover:after {
	    		border-top: 0.5em solid $red !important;
			}

			a:focus:after, a.active:after {
	    		content: '';
	    		display: block;
	    		position: absolute;
	    		height: 0;
	    		width: 0;
	    		border-bottom: none;
	    		border-left: 0.5em solid transparent;
	    		border-right: 0.5em solid transparent;
	    		border-top: 0.5em solid $light-red;
	    		bottom: -0.5em;
	    		margin-left: 0.5em;
			}
    	}
	}

	ul.header {
		float: right;
    	margin-right: 15%;
		margin-left: 0;

		h2 {
			font-family: 'Reenie Beanie';
			padding: 0.4em 0;
			margin-right: 0.5em;
			color: $white;
			float: right;
		}

		i {
			font-size: 1.125em;
		}

		a {
			padding: 0.9em 0.5em;
		}
	}

	li {
    	float: left;

    	a {
			font-size: 1em;
    		display: block;
    		color: $white;
    		text-align: center;
    		padding: $padding;
    		text-decoration: none;
		}

		a:hover {
			color: $white;
    		background-color: $red;
		}
	}
}

footer {
	text-align: center;
	height: 5em;

	p {
		line-height: 1em;
		margin-bottom: 0;
	}
}

.anchor {
    display: block;
    position: relative;
    top: -4em;
    visibility: hidden;
}

.introduction {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

	h1 {
		font-family: $cursive-font;
	}

	button {
		padding: $padding;
		border-radius: $border-radius;
		font-size: 1.25em;
		margin: $margin;
		background-color: $red;
		color: $white;
		border: 5px solid $light-red;
	}

	button:hover {
		background-color: $light-red;
	}

	a {
		font-size: 1.25em;
		color: $light-red;
	}

	a:hover {
		color: $red;
	}

	.images {
		margin: 1.25em;

		img {
			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	}
}

.bio {
	position: absolute;
	z-index: 1;
	top: 4em;
	margin: 0 15%;

	h4 {
		text-transform: uppercase;
		color: $light-red;
	}
}

.contact {
	min-height: 34em;
	padding: $padding;
	border-radius: $border-radius;
	background-color: $light-grey;

	h2 {
		margin-top: 16px;
	}

	.anchor {
		margin-top: -1em;
	}

	.form-group {
		margin: 0.5em 0;

		.success-indicator, .error-indicator {
			font-size: 1.5em;
			margin-left: 0.25em;
			display: none;
		}
		
		.success-indicator {
			color: $success-green;
		}

		.error-indicator, div.error {
			color: $error-red;
		}

		div.error {
			margin: 0.25em 0 0.5em 0;
		}
	}

	.message-sent {
		h3 {
			padding: $padding 0;
		}
	}
}

/* intially hidden on screen */
nav, .bio, .message-sent {
	display: none;
}